@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section */
.header{
    background-image: url("../images/donation7.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.header h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    
    
}
.header p{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
   
}
.primary-btn{
    margin-top: 30px;
    padding: 15px 25px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    background-color: rgb(205, 79, 79);
}
/* donation-amount */
.donation-today h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #060505;
}
.donation-today p{
    font-family: 'Poppins', sans-serif;
    color: #4b4747f8;
    font-size: 18px;
}
.donation-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:80px 0;
}
.donation-amount{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.donation-amount .active{
    border: 2px solid rgb(205, 79, 79);
    color: rgb(205, 79, 79);
    
}
.donation-amount div{
    width: 150px;
    height:120px;
    background-color: rgb(245, 243, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(51, 49, 49, 0.81);
    font-weight: 700;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.other-amount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.other-amount input{
    border: 0;
    width: 500px;
    border-bottom: 1px solid rgb(153, 151, 151);
    margin-top: 10px;
    text-align: center;
    padding:10px;
    
}
 /* donation plan */
 .donation-plan{
    margin: 50px 0;
 }
 .donation-plan h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #060505;
    text-align: center;
 }
 .donation-plan p{
    font-family: 'Poppins', sans-serif;
    color: #4b4747f8;
    font-size: 18px;
    text-align: center;
 }
 .donation-category{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin:40px 0;
    
 }
 .donation-category p,h1{
    text-align: left;
    margin-top: 20px;
    
 }
 .donation-category img{
    margin-bottom: 20px;
 }
 .food{
    background-color: #EDF5F6;
    padding:30px;
    width:350px;
    height:300px;
 }
.shelter{
    background-color: #FFEEEE;
    padding:30px;
    width:350px;
    height:300px;
}
.education{
    background-color: #FFF4D6;
    padding:30px;
    width:350px;
    height:300px;
}
/* contribute */
.contribute{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.contribution-text{
    width: 45%;
    text-align: left;
}
.contribution-image img{
    width: 400px;
}
.contribution-text h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #060505;

}
.contribution-text p{
    font-family: 'Poppins', sans-serif;
    color: #4b4747f8;
    font-size: 18px;
    margin-top: 20px;

}
.update-info{
    margin: 100px 0;
}
.update-info h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #060505;
    text-align: center;

}
.update-info p{
    font-family: 'Poppins', sans-serif;
    color: #4b4747f8;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;

}
.input-box{
    width: 800px;
    height: 200px;
    background: #FFF4D6;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box input{
    width: 250px;
    height:50px;
    border: 0;
    padding: 18px 25px;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #AA9F9F;
}
.input-box button{
    padding: 18px 50px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    background-color: #FF5959;
    font-weight: 700;
}
